<div class="row">
    <div class="col-4">
        <card-team-create></card-team-create>
    </div>
    <div class="col-4">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Partidos</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-icon>sports_soccer</mat-icon>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-4">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Posiciones</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-icon>equalizer</mat-icon>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<league-table></league-table>