<!-- Menú lateral -->
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <mat-nav-list>
            <a mat-list-item routerLink="/ruta1">
                <mat-icon>menu</mat-icon>
            </a>
            <a mat-list-item routerLink="/home/dashboard">
                <mat-icon>home</mat-icon>
            </a>
            <a mat-list-item routerLink="/ruta2">
                <mat-icon>groups</mat-icon>
            </a>
            <a mat-list-item routerLink="/home/league">
                <mat-icon>sports_soccer</mat-icon>
            </a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <!-- Encabezado -->
        <mat-toolbar class="header">
            <span>{{nameApp}}</span>
            <span>{{ firstName }}</span>
        </mat-toolbar>
        <!-- Contenido -->
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>