<div class="row">
    <div class="col">
        <mat-table [dataSource]="leagueData">
            <!-- Columna Equipo -->
            <ng-container matColumnDef="team">
                <mat-header-cell *matHeaderCellDef>Equipo</mat-header-cell>
                <mat-cell *matCellDef="let team">{{ team.team }}</mat-cell>
            </ng-container>

            <!-- Columna Ultima fecha -->
            <ng-container matColumnDef="lastDate">
                <mat-header-cell *matHeaderCellDef>Ultima fecha</mat-header-cell>
                <mat-cell *matCellDef="let team">{{ team.lastDate }}</mat-cell>
            </ng-container>

            <!-- Columna Goles a favor -->
            <ng-container matColumnDef="goalsFor">
                <mat-header-cell *matHeaderCellDef>Goles a favor</mat-header-cell>
                <mat-cell *matCellDef="let team">{{ team.goalsFor }}</mat-cell>
            </ng-container>

            <!-- Columna Goles en contra -->
            <ng-container matColumnDef="goalsAgainst">
                <mat-header-cell *matHeaderCellDef>Goles en contra</mat-header-cell>
                <mat-cell *matCellDef="let team">{{ team.goalsAgainst }}</mat-cell>
            </ng-container>

            <!-- Columna Puntos -->
            <ng-container matColumnDef="points">
                <mat-header-cell *matHeaderCellDef>Puntos</mat-header-cell>
                <mat-cell *matCellDef="let team">{{ team.points }}</mat-cell>
            </ng-container>

            <!-- Columna Detalles -->
            <ng-container matColumnDef="details">
                <mat-header-cell *matHeaderCellDef>Detalles</mat-header-cell>
                <mat-cell *matCellDef="let team">
                    <a mat-button color="primary" (click)="showDetails(team)">Detalles</a>
                </mat-cell>
            </ng-container>

            <!-- Definición de las columnas -->
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
    </div>
</div>